{% extends 'base.html' %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="../static/styles/app.css">
<script src="../webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="datetime-picker.html">
{% endblock %}

{% block content %}
<div id='app' class='container-fluid'></div>
{% endblock %}

{% block footer %}
<footer class="mt-auto p-3">
  <div class="container d-flex justify-content-end">
    <span class="text-muted">&copy; Copyright 2019 JaJeJu</span>
  </div>
</footer>
{% endblock %}

{% block scripts %}
{{ super() }}
<script defer type='text/javascript' src='../static/assets/app.js'></script>
{% endblock %}
