<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Our Website {% block head %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      @font-face {
        font-family: "San Francisco";
        font-weight: 400;
        src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
      }
      body {
        font-family: San Francisco;
      }
    </style>
  </head>
  <body>

    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Spendie</a>
      </nav>
    </div>

    <div style="padding: 30px;">


      <div class="container-fluid" style="max-width:60%;">
        <h2>Welcome back, Jeff!</h2>
        <div class="row ">

          <div class="col-lg border">
            Hello
          </div>

          <div class="col-lg border">
            Hello
          </div>

        </div>
      </div>

    </div>

  </body>
</html>
