<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Our Website {% block head %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/styles/custom.css">
</head>

<body>

  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Spendie</a>
    </nav>
  </div>

  <div style="padding: 30px;">


    <div class="container-fluid">

      <div class="row">
        <div class="col">
          <h2 class="hellotitle">Hello, Jeff!</h2>
          <!-- <div class="md-form active-pink active-pink-2 mb-3 mt-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </div> -->
        </div>
      </div>

      <div class="container rounded border">
        <div class="row rounded">
          <div class="col-md border">
            Hello
          </div>
          <div class="col-md border">
            Hello
          </div>
        </div>
      </div>

    </div>

  </div>

</body>

</html>
